.menu {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	&--contacts {
		height: 3.2rem;
		margin-bottom: 1.8rem;
	}

	&--navigation {
		width: 88rem;
	}
}

@media screen and (max-width: 1092px) {
	.menu {
		align-items: center;
	}
}