.slider-card {
	width: 27rem;
	height: 100%;
	background-color: white;
	border-radius: 1rem;
	padding: 2.5rem 5rem 4.5rem 5rem;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	&--btn {
		background: #FFDD00;
		box-shadow: 0px 0px 1.5rem #FFDD00;
		border-radius: 8rem;
		font-size: 1.4rem;
		line-height: 1.7rem;
		letter-spacing: 0.05em;
		color: #C78014;
		border: none;
		outline: none;
		padding: 1.7rem 4.7rem 1.6rem;
		cursor: pointer;
		position: absolute;
		bottom: 0;
		transform: translateY(50%) translateX(50%);
		right: 50%;
	}

	&--img {
		position: relative;
		cursor: pointer;

		img {
			width: 17rem;
			height: 17rem;
			object-fit: contain;
			margin-bottom: 2rem;
			transition: opacity 250ms ease-out;
		}

		svg	{
			position: absolute;
			opacity: 0;
			width: 4.6rem;
			height: 4.6rem;
			bottom: 25%;
			right: 50%;
			transform: translateX(50%) translateY(50%);
			transition: bottom 250ms ease-out, transform 250ms ease-out;
		}

		&:hover {
			img {
				opacity: 0.15;
			}

			svg {
				opacity: 1;
				bottom: 50%;
			}
		}
	}

	&--name {
		font-size: 1.6rem;
		font-weight: 900;
		line-height: 1.9rem;
		letter-spacing: 0.05em;
		text-align: center;
		color: #000000;
		margin-bottom: 1rem;
	}

	&--description {
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1.7rem;
		letter-spacing: 0.05em;
		text-align: center;
		color: #3B484A;
		margin-bottom: auto;
	}

	&--price {
		position: relative;
		font-size: 2.2rem;
		font-weight: 900;
		line-height: 2.6rem;
		letter-spacing: 0.05em;
		color: #181818;
		margin-bottom: 1.5rem;
		margin-top: 2rem;
		padding: 0 1rem 1rem;

		span {
			font-weight: normal;
			font-size: 3rem;
			line-height: 3.5rem;
			letter-spacing: 0.05em;
			color: #181818;
			margin-left: 0.5rem;
			top: 0.3rem;
			position: relative;
		}

		&::before {
			content: '';
			position: absolute;
			height: 2rem;
			width: 100%;
			bottom: 0;
			left: 0;
			background-color: #FEF2C9;
		}
	}

	&--socials {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		&-icon {
			width: 3.3rem;
			height: 3.3rem;
			border-radius: 100%;
			margin: 0 0.5rem;
			cursor: pointer;
		}
	}
}